<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <form action="/artist" method="GET" id="form">
        <input type="search" id="mySearch" placeholder="Search for an artist" name="artist">
        <button type="submit">FIND IT</button>

    </form>




</body>

</html>